body {
  font-family: 'Inconsolata', monospace;
  font-size: 72px;
}

#button00 {
  margin-right: -12px;
}

.btn:hover {
  cursor:pointer;
}

.row:before,
.row:after {
  content: "";
  display: table ;
  clear: both;
}

.panel{
  padding-left:30px;
  padding-top:30px;
  padding-bottom:30px;
}

.register-container {
  max-width: 1600px;
}

.grid-container {
  padding: 10px;
  width: 100%;
  max-width: 1580px;
  min-width: 1580px;
  max-height: 160px;
}

.col-sm-1 {
  float: left;
  padding-left: 20px;
  padding-bottom: 5px;
  min-width: 8.33333%;
  min-height: 1px;
}

.col-md-offset-3 {
  /* hardcoded */
  position: relative;
  left: 28.9%;
}